*{
    margin: auto;
    padding: auto;
}

html {
    min-height: 100%;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #009DDF;
    color: #FFFFFF;
}

.pagination {
    display: inline-flex;    
    margin-left: 42%;
    justify-content: center;
}

/* Début de l'En tête */

/* Container qui va inclure toute notre page */

.container {
    max-width: 100%;
    padding: 0;
}

/* Logo de l'Amicale */

img {
    max-width: 100%;
    max-height: 100%;
}

.container_header{
    background-color: black;
}

.content {
    background-color: lightgrey;
}

/* Aide pour le débug des cadres */

.debugblue {
    border: solid 2px blue;
}

.debugred {
    border: solid 2px red;
}

.debugblack {
    border: solid 2px black;
}

.debuggreen {
    border: solid 2px green;
}

/* Bouton du menu */

.btn{
    border: #009DDF;
}

.bg-light{
    background-color: #0969AD!important;
}

.btn-primary{
    background-color: #0969AD!important;
}

.btn-outline-success a{
    text-decoration: none;
    color: yellow;
    border-color: #009DDF;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}


.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #009DDF;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #009DDF;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
color: #fff;
background-color: #28a745;
border-color: #009DDF;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem #009DDF;
}

/* Page formaddalerte */
.formaddalert{
    width: 100%;
}

/* Fin de l'En-tête */


/* Menu Burger pour la version mobile */

.nav-wrapper {
	width: 80%;
	margin: 0 10% !important;
	height: 60px;
	background-color: #EFF4E1;
	position: absolute;
	top: 100px;
	z-index: 1000 !important;
}

.nav-wrapper ul {
	margin: 0 auto;
}

.nav-wrapper ul li {
	text-transform: uppercase;
	padding: 0 3px;
	
}

.nav-wrapper ul li i.menu-leaf {
	font-size: 35px;
	color: #5D9B3B;
}

.nav-wrapper ul li a {
	color: #000000;
}

.nav-wrapper ul li a:hover {
	color: #006F46;
}

.nav-wrapper ul li i.menu-search {
	font-size: 25px;
}

.dropdown-parent {		/* Overriding Bootstrap CSS */
	min-width: 6.5rem !important;
	padding: 0 !important;
	background-color: #EFF3E1 !important;
	background-clip: unset !important;
	border: none !important;

}

#company-link {
	padding-top: 8px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
}

#company-link:focus, #company-link:hover {  /* Overriding Bootstrap CSS */
	background-color: transparent !important;
}

.dropdown-child {
	padding-top: 5px !important;
	padding-right: 0.5rem !important;
	padding-left: 0.5rem !important;
	border-top: 1px solid rgba(127, 234, 195, 0.7) !important;
	border-left: none !important;
	border-right: none !important;
	border-bottom: none !important;
	border-radius: 0px !important;
}

/* Fin Menu Burger pour la version mobile*/

/*Début Carousel */

.carousel{
    height: 10em;
}

.titre_carousel{
    margin-left: 35%;
}

.carousel-inner{
    height: 25em;
}

.card-img-top{
    padding: 15px 0;
}

.carousel-control.left{
    background-color:#0969AD;
    opacity: 0.24;
}

.carousel-control.right{
    background-color:#0969AD;
    opacity: 0.24;
}

/*Fin Carousel */

/*Début Bandeau des alertes */

#cadrpg {
    width:600px;
    margin:0 auto; 

    overflow:hidden;
} 

#newshr {
    position:relative; 
    width:100%; 
    height:20px; 
    overflow:hidden;
    color:inherit; 
    background:#FFFFFF; 
}

#defile { 
    position:absolute; 
    margin-top:1px; 
    background-color:transparent; 
}

/*Fin Bandeau des alertes */

.navbar-brand {
    margin: 0;
    padding: 0;
}

.read_next{
    color:blue;
    margin:1em;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }