/* ----------------------------- */

/* Début débug */

/* ----------------------------- */

.debugblue {
    border: solid 2px blue;
}

.debugred {
    border: solid 2px red;
}

.debuggreen {
    border: solid 2px green;
}

.debugblack {
    border: solid 2px black;
}


/* ----------------------------- */

/* Début de l'En tête */

/* ----------------------------- */

*{
    margin: auto;
    padding: auto;
}


html {
    position: relative;
    min-height: 100%;
}

/* Container qui va inclure toute notre page */

.container {
    padding: 0;
    max-width: 100%;
    width: 100%;
}

/* Logo de l'Amicale */

img {
    max-width: 45%;
}

.container_header{
    background-color: black;
}

.content {
    background-color: lightgrey;
}

.btn{
    border: #009DDF;
}

.bg-light{
    background-color: #009DDF!important;
}

/* Début de modification des boutons dans le BO */

.btn-primary{
    background-color: #009DDF!important;
}

.btn-outline-success a{
    text-decoration: none;
    color: yellow;
    border-color: #009DDF;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-outline-success:focus, .btn-outline-success.focus {
    box-shadow: 0 0 0 0.2rem #009DDF;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    color: #009DDF;
    background-color: transparent;
}

.btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
color: #fff;
background-color: #28a745;
border-color: #009DDF;
}

.btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-success.dropdown-toggle:focus {
box-shadow: 0 0 0 0.2rem #009DDF;
}

/* Inclusion des pages view */

/* ----------------------------- */

/* Début du contenu */

/* ----------------------------- */


.categorymanage{
    display:flex;
    justify-content: space-between;
}


/* ----------------------------- */

/* Début du Pied de Page */

/* ----------------------------- */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #009DDF;
    color: #FFFFFF;
}




.table thead th.fit {
    vertical-align: none;
}

.table td, .table th {
    vertical-align: middle;
}

